/*|---------------| App Color Schema|---------------*/
$GREEN: #198754;
$GREEN-HOVER: #14b469;
$WHITE: #FCF9F9;
$WHITE-HOVER: #cccaca;
$GRAY: #d9d9d9;

/*|---------------| IMAGES |---------------*/

$SM-WIDTH: 200px;
$MD-WIDTH: 300px;
$LG-WIDTH: 400px;
$XL-WIDTH: 500px;

$SM-HEIGHT: 300px;
$MD-HEIGHT: 500px;
$LG-HEIGHT: 600px;

/*|---------------| FONTS |---------------*/
$FONT-TEXT: 'Montserrat', sans-serif;
$FONT-LOGO: 'Oleo Script';

$FONT-TEXT-SM: .875rem;
$FONT-TEXT-MD: 1rem;
$FONT-TEXT-LG: 1,125rem;

$FONT-TITLE-SM: 1.75rem;
$FONT-TITLE-MD: 2rem;
$FONT-TITLE-LG: 2,125rem;
$FONT-SIZE-LOGO: 2,325rem;

$FONT-LIGHT: 300;
$FONT-REGULAR: 400;
$FONT-MEDIUM: 500;
$FONT-BOLD: 700; 

/*|---------------| BREAKPOINTS|---------------*/

// Usage example:  @media {$BREAKPOINT-DESK}

$BREAKPOINT-DESK: 1224px;
$BREAKPOINT-TABLET-LAND: 1024px;
$BREAKPOINT-TABLET: 780px;
$BREAKPOINT-MOBILE-LAND: 375px;