@media screen and (max-width: 767px) {
    nav {
        position: relative;
    }
    #navbar {
        position: absolute;
        top: 0;
        z-index: 99 !important  ;
        background-color: #0f1420 !important;
        width: 100%;
    }

    #navbar-default {
        transition: all 0.5s ease-in-out;
        position: absolute;
        z-index: -1;
    }

    .close {
        padding: 2em 0;
        top: -30em;
        background-color: #0f1420;
    }

    .open {
        padding: 2em 0;

        top: 3em;
        background-color: #0f1420;
    }
}
