section#Projects {
    div {
        width: 100%;
        div.info {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                width: 100%;
            }

            ul.projects {
                position: relative;
                li.project {
                    position: relative;
                    height: 400px;
                    margin: 3em 0;

                    div.project-image {
                        height: 400px;
                        width: 100%;
                        opacity: .3;
                        position: absolute;
                        z-index: 1;
                        border-radius: 5px;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: $background-linear;
                            opacity: 0.5;
                            z-index: 1;
                            border-radius: 5px;
                        }
                    }
                    div.project-content {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        z-index: 2;
                        padding: 0 1em;
                        & > div {
                            height: 70%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            span {
                                font-size: $text-size-tablet;
                                font-weight: 500;
                            }

                            p {
                                background-color: $background !important;
                                border: 1px solid $color-info;
                                border-radius: 5px;
                                padding: 1em;
                                margin-bottom: 2em;
                            }

                            & > div {
                                height: 70px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                ul {
                                    color: $color-info;
                                    font-weight: 500;
                                    li {
                                        font-size: $text-size-mobile;
                                        margin-bottom: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    section#Projects {
        & > div {
            div.info {
                ul.projects {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li.project {
                        display: flex;
                        flex-direction: row;
                        text-align: end;
                        margin: 5em 0;
                        max-width: 1200px;

                        &:nth-child(odd) {
                            display: flex;
                            flex-direction: row-reverse;
                            text-align: start;
                            div.project-content {
                                display: flex;
                                align-items: flex-start;
                                padding: 0;
                                & > div {
                                    padding: 0 2em;
                                    max-width: 700px;
                                    padding: 0;
                                    & > div ul, div div {
                                        display: flex;
                                        justify-content: flex-start;
                                    }
                                }
                            }
                        }
                        p { font-size: $text-size-laptop !important; }
                        div.project-image {
                            width: 600px;
                        }
                        div.project-content {
                            display: flex;
                            align-items: flex-end;
                            padding: 0;
                            & > div {
                                padding: 0 2em;
                                max-width: 700px;
                                padding: 0;
                                & > div ul, div div {
                                    display: flex;
                                    justify-content: flex-end;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1530px) {
    section#Projects {
        margin-right: 2.5rem !important;
        margin-left: 2.5rem !important;
    }
}

li.close {
    display: none !important;
}

button.dont-show {
    display: none !important;
}

button.see-more-project {
    padding: 0.5em 3em ;
    border: 1px solid $color-info;
    border-radius: 5px;
    color: $color-info;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: $color-info;
        color: $background;
    }
}
