body {
    overflow-y: hidden;
    color: $color-base;
    background: $background;
    h1 {
      font-size: $title-size-mobile;
      font-weight: 700;
      padding-top: 20px;
    }
    h2 {
      font-size: $sub-title-size-mobile;
      color: $color-sub;
      font-weight: 700;
      padding-top: 20px;
    }
    p {
      font-size: $text-size-mobile;
      line-height: 20px;
    }
    span {
      color: $color-info;
      font-weight: 500;
    }
  
    h1,
    h2,
    p:first-child {
      padding-top: 12px;
    }
  
    p > p:not(:last-child) {
      padding-bottom: 1em !important;
    }
  }
  
  // Font-size
  @media screen and (min-width: 768px) {
    h1 {
      font-size: $title-size-tablet !important;
    }
    h2 {
      font-size: $sub-title-size-tablet !important;
    }
    p,
    span {
      font-size: $text-size-tablet !important;
    }
    p {
      line-height: 25px !important;
    }
    h1,
    h2,
    p:first-child {
      padding-top: 14px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: $title-size-laptop !important;
    }
    h2 {
      font-size: $sub-title-size-laptop !important;
    }
    p,
    span {
      font-size: $text-size-laptop !important;
    }
    p {
      line-height: 27px !important;
    }
    h1,
    h2,
    p:first-child {
      padding-top: 20px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    h1 {
      font-size: $title-size-desktop !important;
    }
    h2 {
      font-size: $sub-title-size-desktop !important;
    }
    p,
    span {
      font-size: $text-size-desktop !important;
    }
    p {
      line-height: 30px !important;
    }
    h1,
    h2,
    p:first-child {
      padding-top: 20px;
    }
  }
  
  div.container {
    color: $color-base;
  
    p > p:not(:last-child) {
      padding-bottom: 2em;
    }
  }
  