@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./base";
@import "./components/loader";
@import "./components/navbar";
@import "./components/about";
@import "./components/xp";
@import "./components/projects";
@import "./components/footer";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

