$color-base: rgba(242, 242, 242, 1);
$color-info: rgba(2, 190, 179, 1);
$color-sub: rgba(203, 203, 203, 1);

$background: rgba(17, 24, 39, 1);

$title-size-mobile: 24px;
$sub-title-size-mobile: 20px; 
$text-size-mobile: 12px;

$title-size-tablet: 32px;
$sub-title-size-tablet: 28px; 
$text-size-tablet: 15px;

$title-size-laptop: 40px;
$sub-title-size-laptop: 28px; 
$text-size-laptop: 17px;

$title-size-desktop: 50px;
$sub-title-size-desktop: 35px; 
$text-size-desktop: 20px;